{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name = "viewport" content="witdth=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <!-- Bootstrap , jquery, popper, bootstrap core JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/335dfa2d46.js" crossorigin="anonymous"></script>


    <script type="text/javascript">
    //To get the cookie
		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
    const csrftoken = getToken('csrftoken');


		function uuidv4() {
      //A function we can trigger to set the device ID
		  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
		    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
		    return v.toString(16);
		  });
		}




		let device = getToken('device')

		if (device == null || device == undefined){
			device = uuidv4()
		}

		document.cookie ='device=' + device + ";domain=;path=/"

	</script>

</head>

<body>
<header>

<!-- top bar -->
  <nav class="navbar navbar-expand-lg navbar-dark topbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsives" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse " id="navbarResponsives">
     	    <ul class="navbar-nav mr-auto">
     	    </ul>
     	    <div class="form-inline my-2 my-lg-0 top-bar">
            {% if user.is_authenticated %}
            <li>
            <div class="dropdown">
             <a class="btn-search" href="{% url 'userProfile' %}" role="button"><i class="far fa-user-circle fa-logout"></i></a>
             <div class="dropdown-content">
               <a href="{% url 'userProfile' %}"class="nav-link">Mon profile</a>
             </div>
           </div>
           </li>

           <li class="yolo">
           <div class="dropdown">

             <a class="btn-search" href="{% url 'logout' %}" role="button"><i class="fas fa-sign-out-alt fa-logout"></i></a>
             <div class="dropdown-content">
               <a href="{% url 'logout' %}"class="nav-link">Deconnexion</a>
             </div>
           </div>
           </li>

            {% else %}
            <li>
            <div class="dropdown">
             <a class="btn-search" href="{% url 'login' %}" role="button"><i class="fas fa-sign-in-alt fa-logout"></i></a>
             <div class="dropdown-content">
               <a href="{% url 'userProfile' %}"class="nav-link">Connexion</a>
             </div>
           </div>
           </li>

           <li class="yolo">
           <div class="dropdown">
             <a class="btn-search" href="{% url 'register' %}" role="button"><i class="fas fa-user-plus fa-logout"></i></a>
             <div class="dropdown-content">
               <a href="{% url 'logout' %}"class="nav-link">S'enregistrer</a>
             </div>
           </div>
           </li>

            {% endif %}
            <li class="yala">
            <a href="{% url 'favouriteList' %}">
              <i class="far fa-heart fa-custom fa-color"></i>
            </a>
            </li>
     	     	<a href="{% url 'Cart' %}">
              <i class="fas fa-shopping-bag fa-custom fa-color"></i>
            </a>
     	    	<p id="cart-total">{{cartItems}}</p>
     	    </div>
     	 </div>
 </nav>
<!-- end top bar -->

<!-- navigation bar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
   <a class="logonav" href="{% url 'home' %}">URBAN STREET</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse " id="navbarResponsive">
     <ul class="navbar-nav mc-auto navlonk">
       <li class="nav-item">
         <a class="nav-lonk current" href="{% url 'Women' %}"> FEMMES </a>
       </li>
       <li class="nav-item">
         <a class="nav-lonk current" href="{% url 'Men' %}"> HOMMES </a>
       </li>
       <li class="nav-item">
         <a class="nav-lonk current" href="{% url 'Kids' %}"> ENFANTS </a>
       </li>
     </ul>

   </div>
 </nav>

<!-- end navigation bar -->

</header>

<!-- container - Page Content -->
<div >
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %} Base content {% endblock content %}
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script type="text/javascript" src="{% static 'js/cart.js' %}" > </script>

<!-- Footer -->
<br>
<br>
<footer >
    <div class="container">
      <div class=" row text-light text center py-4 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 ">
          <h1 style="  font-family: 'Permanent Marker', cursive;" class="m-0 text-center text-white">URBAN STREET</h1>
          <br>
          <p> Notre priorité absolue reste la satisfaction du client sous tous ces aspects.
          N'hesitez donc pas à nous suivre sur nos média. Restez branché !</p>
          <ul class="social pt-3">
            <li><a href="#" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="#" target="_blank"> <i class="fab fa-twitter fa-2x"></i></a></li>
            <li><a href="#" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="#" target="_blank"> <i class="fab fa-youtube fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>

<div class="socket text-light text-center py-3">
  <p class="m-0 text-center text-white">Projet réalisé par Caleb NGOYI-A-YAMBU</p>
  <p class="m-0 text-center text-white">
     Copyright &copy; 2020 | <a href="{% static 'NgoyiCalebTFE.pdf' %}">Voir le rapport</a>
  </p>
</div>

</body>
</html>
