{% extends "base.html" %}
{% block title %}Commentaire{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="lg-center">
  <h2> Liste de favoris. </h2>

{% for product in favs %}


<div>
<br>
<br>
<br>
    <h4 >{{product.name}}</h4>
    <div id="favourite-section">
      <a href="{% url 'ProductDetailed' product.pk %}"> 
        <img  class="img-thumbnail" src="{{product.image|default:'http://placehold.it/200x200'}}" width="200" height="200">
      </a>
      <a href="{% url 'favourite' product.pk %}" class = "btn btn-info">
        retirer
      </a>

    </div>

</div>


{% empty %}

<br>
<br>
  <div class="lg-center">
    <h2> Pas encore de favoris, brave âme. </h2>

   </div>

{% endfor %}

 </div>


{% endblock content %}
