{% extends "base.html" %}
{% load static %}
{% load moonTags %}
{% block title %}Accueil{% endblock title %}

{% block content %}
<h1> Brave new world son. </h1>
<br>
<br>
<!-- search part -->
<form>
        <input name="search"  placeholder=" Rechercher.. " value="{{search_term}}">
        <button class="btn btn-primary" type="submit"> search </button>
</form>

<!-- CRUD add hidden if you can't connect to the admin -->
{% if request.user.is_staff %}
    <a href="{% url 'createproduct' %}" class="btn btn-info"> Ajouter un produit </a> <!-- A mettre dans la nav bar-->
{% endif %}

<br>
<br>
<div class="row">

  {% for product in products %}


<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100 product">
        <a href="{% url 'ProductDetailed' product.pk %}">
          <img  class="card-img-top" src="{{product.image|default:'http://placehold.it/270x270'}}" width="270" height="270">
        </a>
        <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>

        </div>


</div>
</div>
{% endfor %}

</div>

<div class="pagination">
  <span class="step-link">
    {% if products.has_previous %}
        <a  href="{% my_url 1 'page' request.GET.urlencode %}"><< </a>
        <a  href="{% my_url products.previous_page_number 'page' request.GET.urlencode %}"> < </a>
    {% endif %}

    <span class="current">
      {{products.number}} sur {{products.paginator.num_pages}}.
    </span>

    {% if products.has_next %}
        <a  href="{% my_url products.next_page_number 'page' request.GET.urlencode %}"> > </a>
        <a  href="% my_url products.paginator.num_pages 'page' request.GET.urlencode %}"> >></a>
    {% endif %}
  </span>
</div>

</div>





  {% endblock content %}
