{% extends "baseMen.html" %}
{% load moonTags %}
{% block title %}Hommes-Chaussures{% endblock title %}

{% block page-content %}
<br>
<div class="container" style="margin-top:30px;margin-bottom:0px">
  <div class="row text-center">
    {% for product in listShoes %}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 product">
        <a href="{% url 'ProductDetailed' product.pk %}">
          <img  class="card-img-top" src="{{product.image|default:'http://placehold.it/270x270'}}" width="270" height="270">
        </a>
        <div class="card-body">
          <h4 class="card-title">{{product.name}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="pagination pagination justify-content-center">
  <span class="step-link">
    {% if listShoes.has_previous %}
        <a  href="{% my_url 1 'page' request.GET.urlencode %}"><< </a>
        <a  href="{% my_url listShoes.previous_page_number 'page' request.GET.urlencode %}"> < </a>
    {% endif %}

    <span class="current">
      {{listShoes.number}} sur {{listShoes.paginator.num_pages}}.
    </span>

    {% if listShoes.has_next %}
        <a  href="{% my_url listShoes.next_page_number 'page' request.GET.urlencode %}"> > </a>
        <a  href="{% my_url listShoes.paginator.num_pages 'page' request.GET.urlencode %}"> >></a>
    {% endif %}
  </span>
</div>


{% endblock page-content %}
