<!--password reset done template-->
{% extends "base.html" %}

{% block title %}Changez le mot de passe{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <p>
              Nous t'avons envoyé un mail avec les instructions pour changer de mot de passe.<br>
              Vérifie que ce mail ne soit pas dans ton dossier spam.
            </p>
                <br>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
