<!--password change form template-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Changez votre mot de passe{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h5 class="login-heading mb-4">Mot de passe oublié ? Tu peux entrer ton email.</h5>
                <form  method="post">
                <!--csfr token -->
                {% csrf_token %}
                <input  type="hidden"  name="next"  value="{{ next }}">
                {{ form.as_p }}
                <button class="btn btn-outline-success btn-block btn-login text-uppercase" type="submit" value="login">Envoyer</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
