<!--password change confirm template-->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Changez le mot de passe{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">

              {% if validlink %}
                <h3>Changez le mot de passe</h3>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p}}
                  <button type="submit" class="btn btn-success">Modifiez votre mot de passe</button>
                </form>
              {% else %}
                <p>
                  Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
                  Veuillez procéder à une nouvelle réinitialisation du mot de passe.
                </p>
              {% endif %}

                <br>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
