<!--password reset done template-->
{% extends "base.html" %}

{% block title %}Confirmation{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <br>
              <br>
              <h5>Ton mot de passe a bel et bien été modifié</h5>
                <br>
                <a  class="btn btn-dark" href="{% url 'login' %}">Se connecter</a>
                <br>
                <br>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
