{% extends "base.html" %}
{% load static %}
{% load moonTags %}


{% block title %}Detail{% endblock title %}

{% block content %}


    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">{{product.name}}
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="{{product.image|default:'http://placehold.it/400x400'}}" width="400" height="400">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Description</h3>
                <p>{{product.description}}</p>
                <ul>
                  <li>Matière : {{product.material}}</li>
                  <br>
                  <li>Prix(EUR) : {{product.price}}</li>

                </ul>

                <form class="form update-cart" method="GET" action='{% url "updateItem" %}'>
                {% if product.variation_set.size %}
                <select class="form-control" name="size">
                  {% for i in product.variation_set.size %}
                    <option value="{{i.name|lower}}">Taille: {{i.name|capfirst}} </option>
                  {% endfor %}
                </select>
                {% endif %}
                <br>
                {% if product.variation_set.color %}
                <select class="form-control" name="color">
                  {% for i in product.variation_set.color %}
                    <option value="{{i.name|lower}}">couleur: {{i.name|capfirst}} </option>
                  {% endfor %}
                </select>
                {% endif %}
                <br>
                <input data-product={{product.pk}} data-action="add" class = "btn btn-outline-secondary add-btn update-cart" value="Ajouter au panier"/>
                </form>
            		{% if request.user.is_authenticated %}
                  <br>
            			{% if product.is_liked %}
            			<h6><a class="customh4" href="{% url 'favourite' product.pk %}">Retirer des favoris
            				<i class="fas fa-heart fa-2x custom-fa"></i><h6>
            			</a>
                  <br>
            			{% else %}
            			<h6><a class="customh4" href="{% url 'favourite' product.pk %}">Ajouter aux favoris
            				<i class="far fa-heart fa-2x custom-fa"></i>
            			</a><h6>
                  <br>
            			{% endif %}
                  <br>
                  <a href="{% url 'avis' product.pk %}" class = "btn btn-outline-secondary custom-bouton" > Consulter les avis </a>

            		{% endif %}
            </div>

        </div>
        {% if user.is_staff %}
        	<a href="{% url 'updateproduct' product.pk %}" class="btn btn-info"> Modifier produit </a>
        	<a href="{% url 'deleteproduct' product.pk %}" class="btn btn-info"> Supprimer produit </a>
        {% endif %}

    </div>



{% endblock content %}
