{% extends "base.html" %}
{% block title %}Profil{% endblock title %}

{% block content %}


<section class="content">


    <div class="card border-dark mb-4" id="profil">
        <h5 class="card-header bg-dark text-white">{{ user.username }}</h5>
        <div class="card-body">
            <h5>Nom : {{ userProfile.user.username }}</h5>
            <h5>Prénom : {{ userProfile.user.first_name }}</h5>
            <h5>Email : {{ userProfile.user.email }}</h5>
        </div>
    </div>

    <h2 id="Mes_reservations"> Mes commandes </h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>

            <th>Date de la commande</th>
            <th>Nombre d'articles</th>
            <th>Prix total</th>
            <th> </th>

        </tr>
        </thead>
        <tbody>
        {% for userOrder in userOrder %}
        {% if userOrder.total_price != None %}
        <tr class="table-success">
            <td>{{userOrder.date}}</td>
            <td>{{userOrder.total_quantity}}</td>
            <td>{{userOrder.total_price}} $</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</section>



{% endblock content %}
